beautifulsoup4==4.9.1
bs4==0.0.1
bump2version==1.0.0
bumpversion==0.6.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
idna==2.10
joblib==0.16.0
lxml==4.6.3
numpy==1.19.0
nylas==4.12.0
pandas==1.0.5
pycparser==2.20
pyOpenSSL==19.1.0
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.1
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
threadpoolctl==2.1.0
urllib3==1.25.9
URLObject==2.4.3
